@media (max-width:5000px) and (min-width:2501px){
    #title{
        left:44vw;
    }
}
@media (max-width:2500px) and (min-width:1601px){
    #title{
        left:40vw;
    }
}
@media (max-width:1600px) and (min-width:1000px){
    #title{
        left:35vw;
    }
}
@media (max-width:1000px) and (min-width:501px){
    #title{
        left:30vw;
    }
}