@media (max-width:500px) {
    #mainblock{
        position:relative;
        left:10vw;
        display: inline-block;
    }
}
@media (max-width:2560px){
    #mainblock{
        position: relative;
        left:25vw;
        display: inline-block;
    }
}