@media (max-width:500px) {
    #mainblock{
        position:relative;
        left:2vw;
        display: inline-block;
    }
    #win{
        position: absolute;
        left:25vw;
    }
    #winner{
        font-size: 5vw;
    }
}
@media (max-width:2560px) and (min-width:1601px){
    #mainblock{
        position: relative;
        left:30vw;
        display: inline-block;
    }
    #win{
        position: absolute;
        left:45vw;
    }
    #winner{
        font-size: 5vw;
    }
}
@media (max-width:1600px) and (min-width:1301px){
    #mainblock{
        position: relative;
        left:25vw;
        display: inline-block;
    }
    #win{
        position: absolute;
        left:50vw;
    }
}
@media (max-width:1300px) and (min-width:1175px){
    #mainblock{
        position: relative;
        left:15vw;
        display: inline-block;
    }
    #win{
        position: absolute;
        left:50vw;
    }
}
@media (max-width:1174px) and (min-width:901px){
    #mainblock{
        position: relative;
        left:8vw;
        display: inline-block;
    }
    #win{
        position: absolute;
        left:45vw;
    }
}
@media (max-width:900px) and (min-width:501px){
    #mainblock{
        position: relative;
        left:5vw;
        display: inline-block;
    }
    #win{
        position: absolute;
        left:35vw;
    }
}